@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Poppins&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  body{
    width: 80vw;
    margin: auto;
    background-color: rgba(236, 234, 234, 0.205);
  }
  
  
  /* Navbar styles */
  nav {
    background-color: #f2f2f2;
    height: 80px;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: fixed;
    top: 0px;
    z-index: 1;
  }

  .logo{
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 60px;
    width: 60px;
    mix-blend-mode: darken;
  }

  .logo h4 {
    margin-top: 10px;
    text-decoration-line: underline;
    /* font-weight: bold; */
    font-family: 'Caprasimo', cursive;
  }
  
  .nav-links li {
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .nav-links li .nav-link {
    text-decoration-line: none;
    color: #333;
    transition: all 0.2s ease;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    
  }


   .nav-link-bar{
     display: none;
   }

   .none{
    display: none;
   }

  /* home styles */   

.home-container {
    /* border: 2px solid; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  
  }

  .home-container img{
    height: 60px;
    width: 60px;
    animation: move 2s linear infinite;

  }

  @keyframes move {
    0% {
        transform: rotate(0deg);
      }
      25% {
        transform: rotate(20deg);
      }
      50% {
        transform: rotate(0deg);
      }
      75% {
        transform: rotate(-20deg);
      }
      100% {
        transform: rotate(0deg);
      }
  }
  
    
  .info {
    text-align: center;
    margin-top: 20px;
  }
  
  .info .name {
    color: #000;
    font-weight: bold;
  }

  .type-writer{
    font-size: 20px;
  }

  .info p{
    /* border: 2px solid; */
    padding: 10px;
    font-size: 20px;
  }
  
    
  h2, p, h5 {
    margin: 0;
  }
  
  /* about styles */ 

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* border: 2px solid; */
    height: 100vh;
    margin-top: 4em;
  }

    
  .profile img {
    max-width: 200px;
    border-radius: 100px;
    
  }

  .profile img:hover{
    border-radius: 0px;
  }
  
  h5 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  p{
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .education {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .education-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    /* border: 2px solid red; */
  }
  
  .icon {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .icon h4 {
    margin-left: 10px;
  }
  
  .edu-list {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    /* border: 2px solid; */
  }
  
  .edu-list h6 {
    margin: 0;
  }
  
  .edu-list span {
    margin-left: auto;
  }  

  .table tr th,td{
    border-bottom: 1px solid ;
    padding: 5px;
  }

  .table tbody tr:nth-child(odd) {
    background-color:rgb(248, 234, 208) ;
  }
    

  /* skills styles */

  @import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Lobster&family=Poppins&family=Ubuntu&family=Ysabeau+Infant:wght@400;500&display=swap');

.skills-container{
    /* border: 2px solid red; */
    margin-top: 6em;
}

.heading{
    text-align: center;
}

.heading h1{
    font-family: Arial, Helvetica, sans-serif;
}

.heading p{
    font-family: 'Poppins', sans-serif;
}

.cards{
    /* border: 2px solid red; */
    box-sizing: border-box;
    width: 77vw;
    min-height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 25px;
}

.cards .card{
    border: 2px solid rgb(23, 174, 201) ;
    background-color: rgb(231, 230, 230) ;
    color: black;
    min-width: 10rem;
    min-height: 25vh;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding-top: 10px;
    box-shadow: 3px 3px 2px 2px black;

}

.cards .card img{
    width: 45px;
    height: 45px;
}

.cards .card .card-title, p{
    text-align: center;
}


 /* project styles */
 .project-container{
  margin-top: 50px;
}

.projects{
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  /* min-height: 70vh; */
}



.project{
  /* margin: 10px; */
  text-align: center;
  border: 2px solid red;
  padding: 10px;
  border-radius: 10px;
}

.project img{
  /* padding: 20px; */
  height: 250px;
  width: 300px;
}

/* contact style */

.contact-container{
  /* border: 2px solid red; */
  width: 80vw;
  margin-top: 3em;
  min-height: 90vh;
  
}


.contact-me-form{
  /* border: 2px solid red; */
  max-width: 500px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

   
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
}

.form-group button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #4caf50;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.form-group button:hover {
  background-color: #45a049;
}

/* footer styles  */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  
}

.footer p {
  font-family: Arial, sans-serif;
  font-family: 'Ysabeau Infant', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.footer .logoes{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.footer .logoes a{
  color: white;
  font-size: 22px;
  margin: 0 5px;
  
}

@media (max-width: 768px) {
  /* navbar */
  nav {
    padding: 20px;
    width: 100vw;
    
  }

  .nav-link-bar{
    display: block;
    font-size: 20px;
}

.navbar {
  background-color: #f1f1f1;
  padding: 10px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.nav-links{
  position: absolute;
  
  left: 0;
  top: 90px;
  width: 100vw;
  text-align: center;
  padding: 15px;
  /* border-radius: 10px; */
  background-color: rgb(146, 214, 203);
  transition: all 0.5s ease-in;
  z-index: 1;
}

.nav-links li {
  display: inline-block;
  margin-left: 10px;
}

  /* home */
  .home-container {
    padding: 10px;
  }

  .info p{
    /* border: 2px solid; */
    padding: 10px;
    font-size: 17px;
  }
       
  .scroll-btn {
    width: 30px;
    height: 30px;
  }
  
  .scroll-ball {
    width: 15px;
    height: 15px;
  }

  /* about */
  .about-container {
    padding: 10px;
  }
  

  h5 {
    font-size: 14px;
  }

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 17px;
    padding: 10px;
  }

  /* project */
  .project-container{
    margin-top: 30px;
  }

  /* contact */
  .contact-container {
    width: 100vw;
    margin-top: 40px;
  }

}